<form class="col-md-12" (submit)="makePayment($event)" style="background:white;padding-bottom:50px;padding-top:50px;">
  <div class="form-group col-md-4">
    <label for="exampleName">Phone Number</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number">
   </div>
  
  <div class="form-group col-md-4">
    <label for="exampleInputPassword1">Amount</label>
    <input type="password" class="form-control" name="amount" id="exampleInputPassword1" placeholder="Town">
  </div>  
   
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>